* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todoItem {
    width: 100%;
    height: 100%;
    /* margin-left: 4rem; */
    padding: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.todoItem:last-child {
    border: none;
}

.todoItem p {
    width: 100%;
    height: 100%;
}

.todoItem p:hover {
    cursor: pointer;
}

.todoItem:hover .icon-close {
    display: block;
}

.itemComplete {
    text-decoration: line-through;
    opacity: 0.3;
}

.icon {
    font-size: 1.5rem;
    opacity: 0.4;
}

.icon svg:hover {
    cursor: pointer;
}

.icon-circle,
.icon-circle-check {
    display: none;
}

.icon-active {
    display: block;
}

.icon-close {
    position: absolute;
    top: 50%;
    right: 9%;
    transform: translateY(-50%);
    display: none;
}

.icon-close:hover {
    cursor: pointer;
    opacity: 0.3;
}
